body{
    background-color: #383A59
    
}
h1,h2,h3{
    background-color: #FFB86C;
    font-family: fantasy;
}
p,ul{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
.div{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: red;

    
}
.div img{ width: 150px;

}